*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.conference{
    position: relative;
    min-height: 100vh;
    padding:50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(img/con2.jpg);
    background-size: cover;

}
.conference .information{
      max-width: 800px;
      text-align: center;
      color:khaki;
}
.conference .information h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}
.conformation{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.conference .contactInfo{
    width:50%;
    display: flex;
    flex-direction: column;
}
.conference .contactInfo .box{

    position: relative;
    padding: 20px 0;
    display: flex;

}
 .contactInfo .box ion-icon
{
    width: 40px;
    height: 40px;
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 22px;
}
    
.conference  .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
position: relative;
bottom: 30px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}
.conference .contactInfo .box .text h3{
    font-weight: 500;
    color: khaki;
    
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff; 
    margin-top: 40px;   
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputbox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputbox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translatey(-20px);

}
.contactform .inputbox input[type="submit"]{
    width:100px;
    background: purple;
    color:rgb(18, 213, 18);
    border:none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}
