<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>
<body>
    <div class="about">
    <div class="img-sec">
        <img src="{{ url_for('static', filename='img/a2.jpg') }}" alt="">

    </div>

    <div class="text-sec">
    <h2>About  us</h2>
   <p>One of the striking features about the Balance luxury beauty parlour is its expert people and staff. The highly experienced and skilled staff help you to get the better personalized and suiting your required demands. The beauty parlour is highly specialized in offering comprehensive hair care ranging from hair color, haircut, bridal, medicure, pedicure,spa,facial and nail Art. They aim at offering these services using the best techniques and products making your hair look awesome.</p>
   
</div>
</div>
<div class="main-col">
<div class="col">
    <div class="one">
        <img src="{{ url_for('static', filename='img/face1.jpg') }}" alt="">

    <h2> Facial</h2>

</div>

    <div class="two">
        <img src="{{ url_for('static', filename='img/waxing.jpg') }}" alt="">
    <h2>Waxing</h2>   
</div>
<div class="three">
    <img src="{{ url_for('static', filename='img/spa.jpg') }}" alt="">
<h2>Hair Styling</h2>   
</div>
<div class="four">
    <img src="{{ url_for('static', filename='img/nail1.jpg') }}" alt="">
<h2>mani & pedi</h2>   
</div>
<div class="five">
    <img src="{{ url_for('static', filename='img/mup.png') }}" alt="">
<h2>Bridal </h2>   
</div>
</div>
</div> 
</body>
</html>