<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='contactpage.css') }}">
    
</head>
<body>
    <div class="conference">
        <div class="information">
            <h2>Contact Us</h2>
            <p>Get in touch and let us enhance your beauty!</p>
        </div>
        <div class="conformation">
            <div class="contactInfo">
                <div class="box">
                    
                    <div class="text">
                        <ion-icon name="home"></ion-icon>
                        <h3>Address</h3>
                        <p>234 Mango Camp Road<br>Palllikaranai,Velachery<br>556789</p>
                    </div>
                </div>
                <div class="box">
                    
                    <div class="text">
                        <ion-icon name="call-outline"></ion-icon>
                        <h3>Phone</h3>
                        <p>876-535-6789</p>
                    </div>
                </div>
                <div class="box">
                
                    <div class="text">
                        <ion-icon name="mail-outline"></ion-icon>
                        <h3>Email</h3>
                        <p>beautymirror3215@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="contactform">
                    <h2>Send Message</h2>
                    <form action="/contact" method="POST">
                    <div class="inputbox">
                    <input type="text"  required name="name">
                    <span>Full Name</span>
                            </div>
                  <div class="inputbox">
                 <input type="text" required name="email">
                    <span>Email</span>
                </div>
                <div class="inputbox">
                <textarea required name="message"></textarea>
                <span>Type Your Message...</span>
                 </div>
                   
                <div class="inputbox">
                    <input type="submit" value="Send">
                            </div>                                      
            </form>
            </div>
        </div>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>