<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nail.css') }}">

</head>
<body>
    <div class="nailspa">
        <h1>NAIL SPA</h1>
        <div class="sha-hha">
            <div class="art-nil">
                <img src="{{ url_for('static', filename='img/mani2.jpg') }}" alt="Manicure Image 2">
            </div>
            <div class="ak-ks">
                <h3>Pedicure</h3>
                <a href="/appointment"><button>₹100</button></a>
            </div>
        </div>
        <div class="sha-hha">
            <div class="art-nil">
                <img src="{{ url_for('static', filename='img/pedi2.jpg') }}" alt="Pedicure Image 2">
            </div>
            <div class="ak-ks">
                <h3>Manicure</h3>
                <a href="/appointment"><button>₹100</button></a>
            </div>
        </div>
        <div class="sha-hha">
            <div class="art-nil">
                <img src="{{ url_for('static', filename='img/mani-del2.jpg') }}" alt="Manicure Deluxe Image 2">
            </div>
            <div class="ak-ks">
                <h3>Mani-delux</h3>
                <a href="/appointment"><button>₹300</button></a>
            </div>
        </div>
        <div class="sha-hha">
            <div class="art-nil">
                <img src="{{ url_for('static', filename='img/mani-pedi2.webp') }}" alt="Manicure and Pedicure Image 2">
            </div>
            <div class="ak-ks">
                <h3>Mani&pedi</h3>
                <a href="/appointment"><button>₹500</button></a>
            </div>
        </div>
        <div class="sha-hha">
            <div class="art-nil">
                <img src="{{ url_for('static', filename='img/nail2.jpg') }}" alt="Nail Image 2">

            </div>
            <div class="ak-ks">
                <h3>Nail Art</h3>
                <a href="/appointment"><button>₹80</button></a>
            </div>
        </div>
        <div class="sha-hha">
            <div class="art-nil">
                <img src="{{ url_for('static', filename='img/fren-m.jpg') }}" alt="French Manicure Image">
            </div>
            <div class="ak-ks">
                <h3>French Manicure</h3>
                <a href="/appointment"><button>₹80</button></a>
            </div>
        </div>
    </div>
</body>
</html>