<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='waxing.css') }}">
</head>
<body>
    <div class="waxing">
        <h1>WAXING</h1>
        <div class="fx-sq">
            <div class="def-com">
                <img src="{{ url_for('static', filename='img/hand2.jpg') }}" alt="Hand Image 2">
            </div>
            <div class="gfh-bnd">
                <h3>Hand Wax</h3>
                <a href="/appointment"><button>₹200</button></a>
            </div>
        </div>
        <div class="fx-sq">
            <div class="def-com">
                <img src="{{ url_for('static', filename='img/leg2.webp') }}" alt="Leg Image 2">

            </div>
            <div class="gfh-bnd">
                <h3>Leg Wax</h3>
                <a href="/appointment"><button>₹250</button></a>
            </div>
        </div>
        <div class="fx-sq">
            <div class="def-com">
                <img src="{{ url_for('static', filename='img/thread.jpg') }}" alt="Thread Image">
            </div>
            <div class="gfh-bnd">
                <h3>Threading</h3>
                <a href="/appointment"><button>₹60</button></a>
            </div>
        </div>
        <div class="fx-sq">
            <div class="def-com">
                <img src="{{ url_for('static', filename='img/nose.jpg') }}" alt="Nose Image">

            </div>
            <div class="gfh-bnd">
                <h3>Nose wax</h3>
                <a href="/appointment"><button>₹100</button></a>
            </div>
        </div>
        
        <div class="fx-sq">
            <div class="def-com">
                <img src="{{ url_for('static', filename='img/lip2.jpg') }}" alt="Lip Image 2">
            </div>
            <div class="gfh-bnd">
                <h3>Under Lips Wax</h3>
                <a href="/appointment"><button>₹80</button></a>
            </div>
        </div>
        <div class="fx-sq">
            <div class="def-com">
                <img src="{{ url_for('static', filename='img/face-wax.jpg') }}" alt="Face Wax Image">
            </div>
            <div class="gfh-bnd">
                <h3>Face Wax</h3>
                <a href="/appointment"><button>₹150</button></a>
            </div>
        </div>
    </div>

</body>
</html>